/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@import url(../../lib/font/oswald/oswald.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6,
section.has-dark-background-custom,
section.has-dark-background-custom h1,
section.has-dark-background-custom h2,
section.has-dark-background-custom h3,
section.has-dark-background-custom h4,
section.has-dark-background-custom h5,
section.has-dark-background-custom h6 {
  color: #fff; }

section.has-dark-background a,
section.has-dark-background-custom a {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #464547; }

::selection {
  color: #fff;
  background: #8edce8;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #464547;
  font-family: "Oswald", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #39c2d7;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #63cfe0;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #2191a3; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #464547;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #39c2d7;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #39c2d7; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #39c2d7; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #39c2d7; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #39c2d7; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #63cfe0; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #63cfe0; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #63cfe0; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #63cfe0; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #39c2d7;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .controls button {
  outline: 0;
  opacity: 0.10; }

.reveal .progress {
  background: transparent;
  height: 5px; }

.reveal .progress span {
  background: #7F993A; }

.reveal section img.plain {
  background: none; }

.reveal .slides section .fragment.grow {
  transform: scale(0.9); }
  .reveal .slides section .fragment.grow.visible {
    transform: scale(1.1); }

.reveal small {
  vertical-align: baseline; }

.reveal table th,
.reveal table td {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-color: #ccc;
  vertical-align: middle; }

.reveal table small,
.reveal table small {
  font-size: 0.8em;
  line-height: 1.2em; }

.reveal .timeline {
  position: relative;
  display: table;
  width: 1060px;
  padding-bottom: 700px;
  margin: 0 -50px !important;
  overflow: hidden; }

.reveal .timeline:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 1040px;
  background: #39C2D7;
  height: 84px; }

.reveal .timeline__row {
  display: table-row; }

.reveal .timeline__cell {
  display: table-cell;
  width: 17%;
  text-align: left;
  position: relative; }

.reveal .timeline__cell:before {
  content: attr(data-title);
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  font-size: 1.4em;
  color: #fff;
  z-index: 5; }

.reveal .timeline__drop {
  position: absolute;
  top: 110px;
  left: 10px; }

.reveal .timeline__drop h5 {
  font-size: 0.8em; }

.reveal .timeline__drop p {
  font-size: 0.7em; }

.reveal .timeline__drop:before {
  content: '';
  position: absolute;
  top: -300px;
  left: 0;
  background: #39C2D7;
  height: 300px;
  width: 8px; }

.hidden {
  display: none; }
